<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fas fa-book-dead"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fas fa-biohazard"></i></a>
    <a href="#"><i class="fas fa-skull-crossbones"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-bomb"></i> Life is better with a bomb <i class="fas fa-bomb"></i>
  </div>
</div>
