
<h1 class="h1title">Choose your style</h1>

<div class="h1title pt-2 pb-4">
  <%= render 'shared/search_bar' %>
</div>

<div class="indexpro">
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <div class="indexcard">
        <%= product.name %>
      </div>
    <% end %>
  <% end %>
</div>
